main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

main section {
    width: 50%;
}


.main-flex__button>button {
    border: none;
    outline: none;
    color: white;
    border-radius: 8px;
    background-color: darkgray;
    width: 40%;
    cursor: pointer;
    font-size: 20px;
}


@media (max-width:970px) {


    main h2 {
        font-size: 17px;
    }

    #main>h2 {
        text-align: center;
        margin-top: 10%;
    }

    main section {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    } 

    .main-flex__button>button {
        font-size: 12px;
    }
}